.upload_container{
    height: 120px;
    width: 600px;
    border-radius: 10px;
}
.upload_top{
    display: flex;

}
.upload_bottom{
    border-top: 1px solid #E3E6EA;
    display: flex;
    padding-top: 5px;
    margin-left: 60px;



}
.upload_image{
    margin-left: 20px;
    margin-top: 25px;

}
.upload_text{
    width: 480px;
    height: 40px;
    border: 0px;
    background-color: #EFF2F5;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.upload_tabs{
    width: 150px;
    display: flex;

}
.upload_texts{
    margin: 5px;
   text-align: center;

}